a {
    color: rgb(241, 236, 236);
    outline: none;
    text-decoration: none;
  }
  * {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  background-image: linear-gradient(50deg, #0F2027, #203A43, #2C5364);
}
.navbar {
    background-image: linear-gradient(50deg, #0F2027, #203A43, #2C5364);
  background-color: #203A43;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: gold;
}
.nav-link{
  color: white;
}
.nav-link:hover{
  color: gold;
}
.nav-link.active:hover{
  color: gold;
}
.navbar-nav {
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  font-size: 17px;
}

.navbar-toggler-icon {
  background-size: 120%;
}

.navbar-toggler {
  border: none;
}

#offcanvasNavbarLabel {
  font-weight: bold;
}

#offcanvasNavbar {
  background-color: rgb(5, 5, 5);
}

.dropdown-menu {
  background-image: linear-gradient(50deg, #0F2027, #203A43, #2C5364);
}

.dropdown-menu a {
  color: rgb(255, 255, 255);
}

/* navbar css */